.container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  height: 35px;
  padding-bottom: 10px;
  background-color: white;
  top: 0px;
}
.top {
  background-color: brown;
  width: 98vw;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top .top-text {
  width: 90%;
  max-width: 800px;
  color: white;
  padding-top: 30px;
}
.top .card {
  width: 90%;
  max-width: 800px;
  background-color: white;
  display: flex;
  border-radius: 5px;
  position: relative;
  bottom: -50px;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.21);
}
.top .card .card-img {
  background-color: #b1e7fa;
  width: 350px;
  height: 150px;
  border-radius: 5px;
}
.top .card .card-text {
  padding: 10px 50px;
}
.middle {
  padding: 60px;
}
.middle .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.middle .info img {
  height: 300px;
  padding: 0 20px;
}
.middle .info .text {
  max-width: 350px;
}
.last {
  background-image: url('../img/saile-ilyas-SiwrpBnxDww-unsplash.jpg');
  width: 98vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.last .upgrade {
  background-color: #3eb2cf;
  width: 98vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}
.last .upgrade h2 {
  color: white;
  width: 90%;
  max-width: 800px;
}
.last .last-text {
  width: 90%;
  max-width: 800px;
  color: white;
  padding: 20px 0 50px 0;
}
footer {
  width: 98vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f3f3;
}
.footer-links {
  width: 90%;
  max-width: 800px;
  margin-top: 25px;
  padding: 20px 0 50px 0;
  display: flex;
  justify-content: space-around;
}
.footer-links .footer-sec {
  display: flex;
  flex-direction: column;
}
.footer-links .footer-sec .contact {
  text-align: center;
}
.footer-links .footer-sec .social-icons a {
  width: 15px;
  height: 15px;
  border: 1px solid blue;
}
.footer-blue {
  width: 98vw;
  display: flex;
  justify-content: center;
  background-color: #d6f0fa;
  border-top: 2px solid #b1e7fa;
}
.footer-blue .text {
  width: 90%;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
