footer {
  width: 98vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f1f1;
  h3,
  h4 {
    color: #7cb342;
  }
}

.footer-links {
  width: 90%;
  max-width: 800px;
  margin-top: 25px;
  padding: 20px 0 50px 0;
  display: flex;
  justify-content: space-around;
  .footer-sec {
    display: flex;
    flex-direction: column;
    .contact {
      text-align: center;
    }
    a {
      padding-bottom: 6px;
    }
    .social-icons {
      img {
        height: 20px;
      }
    }
  }
}

.footer-blue {
  width: 98vw;
  display: flex;
  justify-content: center;
  background-color: rgb(214, 240, 250);
  border-top: 2px solid rgb(177, 231, 250);
  .text {
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
