.footer-links {
  display: flex;
}

.footer-blue {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(214, 240, 250);
  border-top: 2px solid rgb(177, 231, 250);
  .text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
  }
}
