.top {
  //background-image: url("../img/benjamin-massello-M1IKt__JX0k-unsplash.jpg");
  background-color: brown;
  width: 100vh;
  .card {
    width: 90%;
    background-color: white;
  }
}

.middle {
  padding: 10px 40px;
  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      height: 300px;
      padding: 0 20px;
    }
    .text {
      max-width: 350px;
    }
  }
}

.last {
  background-image: url('../img/saile-ilyas-SiwrpBnxDww-unsplash.jpg');
  .upgrade {
    width: 100%;
    background-color: rgb(62, 137, 207);
  }
}
