header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  height: 35px;
  padding-bottom: 10px;
  background-color: white;
  // position: -webkit-sticky;
  // position: sticky;
  top: 0px;
}
